/* .horizon {
  animation: Move-Horizon infinite 10s linear;
  height: 80px;
} 
*/

/* @keyframes Move-Horizon {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(10deg) }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
} */

.Pfd {
  color: white;
  position:relative;
  width: 631.18px;
  height: 604.72px;
  border: solid;
  border-color: white;
  /* float: right; */
  /* left:100px; */
  /* top:100px; */
  /* border-width: 10px; */
  /* box-sizing: border-box;  */
}


.Pfd > span {
  position: absolute;
}

.Pfd .labelGrid .green {
  color: #34c957;
}

.Pfd .labelGrid .label {
  font-size: 1.2em;
  /* padding: 10px; */
  height: 1em;
  /* font-weight: bold; */
  text-align: center;
}

.Pfd .labelGrid {
  position: absolute;
  width: 600px;
  top: 10px;
  left: 30px;
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 112px 126px 140px 115px 100px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

.Pfd > div {
  position: absolute;
}

.AirspeedIndicator {
  font-size: 10px;
  position: absolute;
  top: 152.4px;
  height: 319.8px;
  width: 100px;
  left: 25.5px;
  
}
.AirspeedIndicator .SpeedContainer {
  position: relative;
  height: 100%;
  width: 68px;
  overflow: hidden;
  display: inline-block;
}

.AirspeedIndicator .RightMarks {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 32px;
  display: inline-block;
}

.AirspeedIndicator .SpeedLabel {
  position: absolute;
  /* float: right; */
  right: 0px;
  color: white;
  z-index: 0;
}

.AirspeedIndicator .SpeedLabel .SpeedNumber {
  position: relative;
  right: 12px;
  top: 12px;

}
.AirspeedIndicator .SpeedLabel {
  position: absolute;
  /* float: right; */
  right: 0px;
  color: white;
  z-index: 0;
}

svg.VerticalLine {
  position: absolute;
  right: 0px;
  height:3000px;
  bottom: 113px;
}
svg.VerticalLine line {
  stroke: rgb(255, 255, 255);
  stroke-width: 1;
}

svg.Overspeed {
  position: absolute;
  height:1000px;
  width: 10px;
}
svg.Overspeed line {
  stroke: rgb(255, 0, 0);
  stroke-width: 10;
}

svg.baseline {
  position: absolute;
  bottom: -1.2px;
  right: 0px;
}
svg.baseline line {
  stroke: rgb(255, 255, 255);
  stroke-width: 1;
}

svg.SpeedBottomLine {
  position: absolute;
  bottom: -1px;
  /* right: -19px; */
  left: -2px;
  width: 87px;
}
svg.SpeedBottomLine line {
  z-index: 200;
  stroke: rgb(255, 255, 255);
  stroke-width: 1;
}

.AirspeedIndicator .SpeedNumber {
  position: relative;
  margin-right: 8px;
  font-size: 22px;
  top: 5px;
}

.AirspeedIndicator .ZeroSpeed {
  position: relative;
  border-right: 10px;
}

.Horizon {
  font-size: 10px;
  position: "absolute";
  /* top: 151px; */
  /* left: 465px; */
  /* height: 325px; */
  /* width: 85px; */
  overflow: hidden;
  /* box-sizing: border-box;  */
  /* border: dotted; */
}

.ApAirspeedDigitsBottom {
  position: relative;
  color: #eb9ce2;
  font-size: 2em;
  right: 15px;
  text-align: right;
}